@utility alert-paper {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.9375rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--paper-alert-border);
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  color: var(--paper-alert-fg);
  background-color: var(--paper-alert-bg);
}

@utility alert-paper-dismissible {
  display: flex;
  justify-content: space-between;
  max-height: 48rem;
  overflow: hidden;
  transition: all 235ms ease-in-out;
}

@utility alert-paper-primary {
  color: var(--paper-alert-primary-fg);
  background-color: var(--paper-alert-primary-bg);
  border-color: var(--paper-alert-primary-border);
}

@utility alert-paper-secondary {
  color: var(--paper-alert-secondary-fg);
  background-color: var(--paper-alert-secondary-bg);
  border-color: var(--paper-alert-secondary-border);
}

@utility alert-paper-success {
  color: var(--paper-alert-success-fg);
  background-color: var(--paper-alert-success-bg);
  border-color: var(--paper-alert-success-border);
}

@utility alert-paper-warning {
  color: var(--paper-alert-warning-fg);
  background-color: var(--paper-alert-warning-bg);
  border-color: var(--paper-alert-warning-border);
}

@utility alert-paper-danger {
  color: var(--paper-alert-danger-fg);
  background-color: var(--paper-alert-danger-bg);
  border-color: var(--paper-alert-danger-border);
}

@utility alert-paper-muted {
  color: var(--paper-alert-muted-fg);
  background-color: var(--paper-alert-muted-bg);
  border-color: var(--paper-alert-muted-border);
}

@utility alert-paper-close {
  cursor: pointer;
  margin-left: 0.75rem;
  transition: all 235ms ease-in-out;
  color: inherit;
  background: none;
  border: none;
  font: inherit;
}
